<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSARCH Simulation Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <style scoped>
        #wrapper {
          font-family: Avenir, Helvetica, Arial, sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
        
        .column {
          padding: 30px;
          height: 100vh;
        }
        
        #input {
          background-color: #3a3a3a;
          color: #818181;
        }
        
        #output {
          background-color: #818181;
          color: #3a3a3a;
        }
        input.radio{
            visibility: hidden;
        }
    </style>
</head>
<body>
    <div data-v-fae5bece="" id="wrapper" class="container-fluid">
        <div data-v-fae5bece="" id="parent" class="row">
            <div data-v-fae5bece="" id="input" class="column col-7">
                <h2 class="text-header">Input</h2>
                <form class="" method="post" action="/calculate">
                    <div class="row">
                        <div class="col">
                            <div id="block-size-group" role="group" class="form-group mt-2 mr-2" title="panget">
                                <label id="block-size-group__BV_label_" for="block-size" class="d-block">Block Size</label>
                                <div>
                                    <div role="group" class="input-group">
                                        <input id="block-size" type="number" placeholder="Enter block size" required="required" aria-required="true" class="form-control">
                                        <div class="input-group-append">
                                            <div class="input-group-text">words</div>
                                        </div>
                                    </div>
                                    <div class="invalid-feedback"> Your block size should be a power of two. </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <fieldset id="cache-miss-group" class="form-group mt-2 ml-2">
                                <legend id="cache-miss-group__BV_label_" tabindex="-1" class="bv-no-focus-ring col-form-label pt-0">Cache Miss Algorithm</legend>
                                <div>
                                    <div role="radiogroup" tabindex="-1" class="btn-block btn-group-toggle btn-group bv-no-focus-ring" id="__BVID__10">
                                        <label class="btn btn-secondary"><input selected="selected" type="radio" class="radio" value="true" id="__BVID__11" name="__BVID__10">No Load-Through</label>
                                        <label class="btn btn-secondary"><input type="radio" class="radio" value="false" id="__BVID__12" name="__BVID__10">Load Through</label>
                                    </div><!---->
                                </div></fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div id="mm-size-group" role="group" class="form-group mt-2 mr-2">
                                    <label id="mm-size-group__BV_label_" for="mm-size" class="d-block">Main Memory Size (in blocks)</label>
                                    <div>
                                        <div role="group" class="input-group"><!----><input id="mm-size" type="number" placeholder="Enter main memory size" required="required" aria-required="true" class="form-control">
                                            <div class="input-group-append">
                                                <div class="input-group-text">blocks</div>
                                            </div>
                                        </div>
                                        <div class="invalid-feedback"> Your main memory size should be a power of two. </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div id="mm-size-group" role="group" class="form-group mt-2 ml-2">
                                    <label id="mm-size-group__BV_label_" for="mm-size" class="d-block">Main Memory Size (in words)</label>
                                    <div>
                                        <div role="group" class="input-group"><!---->
                                            <input id="mm-size" type="number" placeholder="Enter main memory size" required="required" aria-required="true" class="form-control">
                                            <div class="input-group-append">
                                                <div class="input-group-text">words</div>
                                            </div>
                                        </div>
                                        <div class="invalid-feedback"> Your main memory size should be a power of two. </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div id="cache-size-group" role="group" class="form-group mt-2 mr-2">
                                    <label id="cache-size-group__BV_label_" for="cache-size" class="d-block">Cache Size (in blocks)</label>
                                    <div>
                                        <div role="group" class="input-group">
                                            <input id="cache-size" type="number" placeholder="Enter cache size" required="required" aria-required="true" class="form-control">
                                            <div class="input-group-append">
                                                <div class="input-group-text">blocks</div>
                                            </div>
                                        </div>
                                        <div class="invalid-feedback"> Your cache size should be a power of two. </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div id="cache-size-group" role="group" class="form-group mt-2 ml-2">
                                    <label id="cache-size-group__BV_label_" for="cache-size" class="d-block">Cache Size (in words)</label>
                                    <div>
                                        <div role="group" class="input-group"><!---->
                                            <input id="cache-size" type="number" placeholder="Enter cache size" required="required" aria-required="true" class="form-control">
                                            <div class="input-group-append">
                                                <div class="input-group-text">words</div>
                                            </div>
                                        </div>
                                        <div class="invalid-feedback"> Your cache size should be a power of two. </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div id="read-seq-block-group" role="group" class="form-group mt-2 mr-2">
                                    <label id="read-seq-block-group__BV_label_" for="read-seq-block" class="d-block">Read Sequence (blocks)</label>
                                    <div>
                                        <textarea id="read-seq-block" placeholder="Enter block sequence to be read separated by newlines" required="required" rows="10" aria-required="true" class="form-control" style="resize: none;" wrap="soft"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div id="read-seq-word-group" role="group" class="form-group mt-2 ml-2">
                                    <label id="read-seq-word-group__BV_label_" for="read-seq-word" class="d-block">Read Sequence (words)</label>
                                    <div>
                                        <textarea id="read-seq-word" placeholder="Enter word sequence to be read separated by newlines" required="required" rows="10" aria-required="true" class="form-control" style="resize: none;" wrap="soft"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-2"><!---->
                            <div class="card-header">Input Result</div>
                            <div class="card-body">
                                <pre></pre>
                            </div>
                        </div>
                    <button id="submit-input" type="submit" class="btn mt-4 btn btn-block btn-secondary">Submit</button>
                    <button id="reset-input" type="reset" class="btn mt-3 btn btn-block btn-secondary">Reset</button>
                </form>
            </div>
            <div data-v-fae5bece="" id="output" class="column col">
                <% if (result) { %>


                <% } %>
            </div>
        </div>
    </div>
</body>
</html>



